@media (max-width: 600px) {
    body {
      background-color: red
    }

    .infoInput{
        padding-left: 10px;
        width: 200px;
        height:30px;
    }

    #textarea1, #textarea2{
        display: none;
    }

    section p{
        width: 450px;
        height: 250px;
    }

    select{
        width: 250px;
        height: 40px;

    }
    
  }